node_modules
.next
.git
.env
.env.local
.env.*.local
.DS_Store
README.md
.vscode
.husky
coverage
.dockerignore
.gitignore
.prettierrc
.eslintrc
.stylelintrc
npm-debug.log*
yarn-debug.log*
yarn-error.log*